* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    color: #252525;
}

.container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    padding: 2rem 3rem;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #efefef;
    padding: 2rem;
}

.header-nav-menu a {
    text-decoration: none;
    color: #231f20;
}

.header-nav-menu a:after {
    border-bottom: 1px solid #333;
    content: "";
    display: block;
    margin-top: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .35s cubic-bezier(.645, .045, .355, 1);
}

.header-nav-menu a:hover:after {
    transform: scaleX(1);
}

.header-nav-menu {
    position: relative;
}

.header-nav-menu>li {
    display: inline-block;
    margin-right: 3rem;
    padding: 0 0 0 0.5rem;
}

.header-nav-submenu li {
    list-style: none;
}

.header-nav-submenu {
    position: absolute;
    background-color: #efefef;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 1.2rem 4rem 0.5rem 0.5rem;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.header-nav-submenu li {
    margin-bottom: 0.8rem;
}

.header-nav-submenu-trigger:hover .header-nav-submenu {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

.arrow {
    border-style: solid;
    border-color: #e50055;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    vertical-align: text-top;
    width: 10px;
}

.arrow:hover {
    border-bottom-width: 2px;
    border-right-width: 2px;
}

footer {
    background-color: #efefef;
}

h1 {
    margin-left: auto;
}

h2 {
    color: #ff3b3f;
    font-weight: 100;
    font-size: 2rem;
}

p {
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat #fff;
}

.main-body-copy,
.main-intro {
    padding: 2rem;
}

/* hamburger menu */

input {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

.header__nav-icon-mob {
    width: 40px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.header__nav-icon-mob span {
    display: block;
    position: absolute;
    height: 2px;
    width: 80%;
    background: #999999;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header__nav-icon-mob span:nth-child(1) {
    top: 0px;
}

.header__nav-icon-mob span:nth-child(2),
.header__nav-icon-mob span:nth-child(3) {
    top: 13px;
}

.header__nav-icon-mob span:nth-child(4) {
    top: 26px;
}

input:checked~.header__nav-icon-mob>span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    background-color: #e50055;
}

input:checked~.header__nav-icon-mob>span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #e50055;
}

input:checked~.header__nav-icon-mob>span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #e50055;
}

input:checked~.header__nav-icon-mob>span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    background-color: #e50055;
}

input:checked~.header-nav {
    display: block;
}

.header__nav-container {
    display: inline-block;
    position: relative;
}

.header__nav-icon-mob {
    display: none;
    margin: 0;
}

.main-intro {
    padding: 4rem 2rem 2rem 2rem;
}

@media only screen and (max-width: 650px) {
    header,
    .main-body-copy,
    footer {
        padding: 1.5rem;
    }

    .main-intro {
        padding: 3rem 1.5rem 2rem 1.5rem;
    }

    .header__nav-container {
        display: block;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-nav-menu {
        padding-top: 2rem;
    }

    .header-nav {
        display: none;
    }

    .header-nav-menu li {
        display: block;
        margin-bottom: 1rem;
    }

    h1 {
        align-self: flex-start;
        font-size: 1.5rem;
    }

    .header__nav-icon-mob {
        display: block;
    }

    .header-nav-submenu {
        position: static;
        display: none;
        padding: 1.2rem 0 0;
    }

    .header-nav-submenu li:last-child {
        margin-bottom: 0;
    }

    .header-nav-submenu-trigger:hover .header-nav-submenu {
        display: block;
    }

    input {
        width: 100%;
        height: 45px;
    }
}